<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Migrail</title>
    <%= stylesheet_link_tag "migrail/app" %>
  </head>
  <body>
    <div
      id="schema-trail-root"
      data-api-base="<%= migrail.root_path %>api"
    ></div>
    <%= javascript_include_tag "migrail/app", defer: true %>
  </body>
</html>
